@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<section class="text-center py-3">
    <div class="hidden sm:flex justify-center items-center gap-1
    sm:gap-3 lg:gap-4">
        <p class="text-[#D40D12] text-xs sm:text-sm font-bold">AdminPanel</p>
        <form asp-action="GetAdminHomePage" asp-controller="Page" method="GET">
            <button type="submit" class="px-[2px] py-[2px] sm:px-1 sm:py-1 md:px-3 lg:px-4 border-[1px] border-white rounded-full hover:border-[#00316E] text-[#00316E] text-xs sm:text-sm font-bold">Home</button>
        </form>
        <form asp-action="GetAdminMembershipsPage" asp-controller="Page" method="GET">
            <button type="submit" class="px-[2px] py-[2px] sm:px-1 sm:py-1 md:px-3 lg:px-4 border-[1px] border-white rounded-full hover:border-[#00316E] text-xs sm:text-sm">Memberships</button>
        </form>
        <form asp-action="GetAdminEmployeesPage" asp-controller="Page" method="GET">
            <button type="submit" class="px-[2px] py-[2px] sm:px-1 sm:py-1 md:px-3 lg:px-4 border-[1px] border-white rounded-full hover:border-[#00316E] text-xs sm:text-sm">Employees</button>
        </form>
        <form asp-action="GetAdminGalleryPage" asp-controller="Page" method="GET">
            <button type="submit" class="px-[2px] py-[2px] sm:px-1 sm:py-1 md:px-3 lg:px-4 border-[1px] border-white rounded-full hover:border-[#00316E] text-xs sm:text-sm">Gallery</button>
        </form>
        <div class="flex justify-center items-center gap-4">
            <form asp-action="GetAdminProfilePage" asp-controller="Page" method="GET">
                <button type="submit" class="w-12 h-12 text-xs p-2 border-[1px] border-white rounded-full 
                hover:border-[#00316E] flex justify-center items-center">Profile</button>
            </form>
        </div>
    </div>
    <div class="flex sm:hidden justify-center items-center gap-1">
        <p>what is up</p>
    </div>
</section>