@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ViewModelBase
<!DOCTYPE html>
<html lang="en" class="h-full w-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full">

    <div class="h-[60%] flex flex-col items-center justify-center gap-4">
        <form id="signInForm" class="flex flex-col items-center justify-center gap-2 p-4 border rounded-lg shadow-md">
            <h1 class="text-xl font-bold">Nutrient Tracking App</h1>
            <input type="text" name="userName" placeholder="username..." 
                   class="border p-2 rounded w-64" />
            <input type="password" name="password" placeholder="password..." 
                   class="border p-2 rounded w-64" />
            <button class="w-20 h-8 bg-blue-600 text-white rounded-lg" type="submit">Sign In</button>
            @if(Model.Message != null) {
                <p>@(Model.Message)</p>
            }
        </form>
        <p class="text-md">or</p>
        <form class="flex flex-col items-center justify-center" 
              asp-action="GetSignUpPage" asp-controller="Page" method="GET">
            <button class="w-16 h-6 bg-blue-400 text-white rounded-md" type="submit">Sign Up</button>
        </form>
    </div>

<script src="~/Scripts/SignIn.js"></script>
</body>
</html>