@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


@await Html.PartialAsync("UserHero")

    <!-- Services Section -->
    <section class="bg-gray-100">
        <section class="container mx-auto px-6 py-12 flex flex-col justify-center items-center">
            <p class="text-xl text-[#00316E] font-bold mb-6">Services</p>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-8">
                <div class="bg-white p-6 rounded-2xl shadow-md border
                flex flex-col justify-center items-center gap-2">
                    <p class="text-lg font-semibold mb-2">Cardio</p>
                    <p class="text-gray-600">Cardio workouts with modern equipment.</p>
                </div>
                <div class="bg-white p-6 rounded-2xl shadow-md border
                flex flex-col justify-center items-center gap-2">
                    <p class="text-lg font-semibold mb-2">Weight Training</p>
                    <p class="text-gray-600">Build strength with professional trainers.</p>
                </div>
                <div class="bg-white p-6 rounded-2xl shadow-md border
                flex flex-col justify-center items-center gap-2">
                    <p class="text-lg font-semibold mb-2">Pool</p>
                    <p class="text-gray-600">Enjoy swimming in a temperature-controlled pool.</p>
                </div>
            </div>
        </section>        
    </section>


    <!-- Communication & Location -->
    <section class="">
        <section class="container mx-auto px-6 py-12">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
                <div class="bg-white p-6 rounded-2xl shadow-md border
                flex flex-col justify-center items-center gap-2">
                    <h2 class="text-xl font-bold text-center mb-2">Contact</h2>
                    <p class="text-gray-600">Communication Info...</p>
                </div>
                <div class="bg-white p-6 rounded-2xl shadow-md border
                flex flex-col justify-center items-center gap-2">
                    <h2 class="text-xl font-bold text-center mb-2">Location</h2>
                    <p class="text-gray-600">Address...</p>
                </div>
            </div>
        </section        
    </section>

@if(Model.Message != null) {
    <script>alert('@(Model.Message)');</script>
}
<script src="~/Scripts/MenuToggle.js"></script>
</body>
</html>