@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MembershipsViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


@await Html.PartialAsync("UserHero")
    
    <!-- Memberships -->
    <section class="bg-gray-100">
        <section class="container mx-auto px-6 py-12 flex flex-col justify-center items-center">
            <div class="flex flex-col justify-center items-center gap-1 mb-4">
                <p class="text-xl text-[#00316E] font-bold">Memberships</p>
                @if(Model.Message != null) {
                    <p class="text-sm text-red-500 mt-2">@(Model.Message)</p>
                }                    
            </div>
            <div id="memberships" class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-8">
                @if(Model.Memberships != null) {
                    foreach(var membership in Model.Memberships) {
                        if((bool)membership.IsActive) {
                            <div class="bg-white p-6 rounded-2xl shadow-md border
                            flex flex-col justify-center items-center gap-2">
                                <p class=""><span class="text-lg font-semibold">Type: </span>@(membership.Type)</p>
                                <p class=""><span class="text-lg font-semibold">Duration: </span>@(membership.Duration)</p>
                                <p class=""><span class="text-lg font-semibold">Price: </span>@(membership.Price)₺</p>
                                <form action="memberships/subscribe/@(membership.Id)" method="GET">
                                    <button type="submit" class="py-1 px-4 bg-[#00316E] text-white border-2 border-white rounded-full 
                                    hover:bg-white hover:text-[#00316E] hover:border-[#00316E]">Subscribe</button>
                                </form>
                            </div>
                        }
                    }
                }
            </div>
        </section>
    </section>
    

<script src="~/Scripts/SignInOrUp.js"></script>
</body>
</html>
